#grab-currentSelection {
	pointer-events : none;
	display : hidden;
	position : absolute;
	background : blue;
	opacity : 0.5;
}

#grab-controls {
	z-index : 100000000000000;
	position : fixed;
	height : 25px;
	background : black;
	top : 30px;
	right : 20px;
}

.grab-confirmed {
	background : green;
	opacity : 0.5;
	position : absolute;
}

.grab-extrapolated {
	background : yellow;
	opacity : 0.5;
	position : absolute;
}
