#grab-controls {
	z-index : 100000000000000;
	position : fixed;
	width : 250px;
	height : 100px;
	top : 30px;
	right : 20px;
	-webkit-border-radius : 5px;
	background : black;
}

#grab-screen {
	position : absolute;
}

#grab-currentSelection, .grab-confirmed, .grab-extrapolated, .grab-removed {
	margin-left : -3px;
	border-left : 3px solid black;
	padding-right : 3px;
	pointer-events : none;
	position : absolute;
}

#grab-currentSelection {
	background : rgba(0, 0, 255, 0.5);
}

.grab-confirmed {
	background : rgba(0, 255, 0, 0.5);
}

.grab-extrapolated {
	background : rgba(255, 255, 0, 0.5);
}

.grab-removed {
	background : rgba(255, 0, 0, 0.5);
}

#grab-clipboard {
	overflow : hidden;
	margin: 0;
	padding: 0;
	width : 0;
	height : 0;
	position : absolute;
	top : 0;
	left : 0;
	resize : none;
}
